body{
    background-color: #faf6f6;
}
*{
    padding: 0;
    margin: 0;
}
.sidebar-chartwidget{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    
}
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}

.hot{
    background-color: red;
    color: white;

}
.hundred{
    background-color: rgb(65, 23, 133);
    color: white;
}
.main-menu:hover,nav.main-menu.expanded {
width:230px;
overflow: hidden;
text-align: left;
}

.main-menu {
background: rgb(1, 8, 26);
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:150%;
left:0;
box-shadow: 1px 0px 10px 5px rgba(202, 202, 202, 0.6);
width:50px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:230px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:rgb(88, 88, 88);
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:rgb(54, 54, 54);
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
/* nav{
    background-color: white;
    box-shadow: 1pt 1pt 3pt 2pt rgb(223, 216, 216);
    width: 100%;
    text-align: right;
} */
input{
    border: none;
    width: 60%; 
    margin: 0;
    /* margin-right: auto; */
    /* margin-left: 30px; */
    padding: 10px;
}
.search{
    margin: 0;
}
.profile-area{
    display: flex;
    text-align: center;
}
select{
    border: none;
}
.profile-img{
    width: 30px;
    height: 30px;
    border-radius: 5rem;
    margin-top: 10px;
}
.bell, .envelope{
    color: black;
}
.vl{
    border-left: 2px solid gray;
    height: 15px;
    margin-top: 25px;
}
.sections{
    margin-top: 20px;
    margin-right: 10px;
}
.section1{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
}
.section2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    
}

.red{
    color: rgb(236, 56, 56);
}
.orange{
    color: orange;
}
.section3{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
}
.section4{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 1pt 1pt 3pt 2pt rgb(223, 216, 216);
    width: 100%;
}
.box1{
    box-shadow: 1pt 1pt 3pt 2pt rgb(223, 216, 216);
    width: 250px;
    height: 150px;
    background-color: white;
    display: flex;

}

.box-1.text{
    margin: 10px 0;
   
}
.box-1.text2{
    margin: 15px 0;
}
.box-1.text2 h6{
    margin: 0 0 7px 0;
    color: rgb(94, 92, 92);
}
.box-1.text2 p{
    margin: 0;
}
.box2{
    box-shadow: 1pt 1pt 3pt 2pt rgb(223, 216, 216);
    width: 250px;
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.box2-text2{
margin-top: 20px;
}
.box2-text1 p{
margin: 20px 0 0 9px;
}
.box2-text1 h6{
    margin: 9px 0 0 9px ;
    color: rgb(94, 92, 92);
    }
.monthly-sales{
    margin-left: 20px;
}

.box-a{
    box-shadow: 1pt 1pt 3pt 2pt rgb(223, 216, 216);
    width: 250px;
    height: 150px;
    background-color: rgb(121, 45, 192);
    color: white;
    display: flex;
}
.box-a-text1{
    margin: 10px 0;
}
.box-a-text2 h6{
         margin: 16px 0 0 0;
}
.box-a-text2 p{
    margin: 7px 0 0 0;
}
.box-b{
    box-shadow: 1pt 1pt 3pt 2pt rgb(223, 216, 216);
    width: 250px;
    height: 150px;
    background-color: rgb(94, 223, 94);
    color: white;
    display: flex;
}
.box-b-text1{
    margin: 10px 0;
}
.box-b-text2 h6{
margin: 16px 0 0 0;
}
.box-b-text2 p{
margin: 7px 0 0 0;
}
.box-c{
    box-shadow: 1pt 1pt 3pt 2pt rgb(223, 216, 216);
    width: 250px;
    height: 150px;
    background-color: rgb(236, 56, 56);
    color: white;
    display: flex;
}
.box-c-text1{
    margin: 10px 0;
}
.box-c-text2 h6{
    margin: 16px 0 0 0;
}
.box-c-text2 p{
    margin: 7px 0 0 0;
}
.box-d{
    box-shadow: 1pt 1pt 3pt 2pt rgb(223, 216, 216);
    width: 250px;
    height: 150px;
    background-color: orange;
    color: white;
    display: flex;
}
.box-d-text1{
    margin: 10px 0;
}
.box-d-text2 h6{
    margin: 16px 0 0 0;
}
.box-d-text2 p{
    margin: 7px 0 0 0;
}
.box4{
    box-shadow: 1pt 1pt 3pt 2pt rgb(223, 216, 216);
    width: 250px;
    height: 150px;
    background-color: white;
    display: flex;
}
.box4-text1{
    margin: 10px 0;
}
.box4-text2 h6{
    margin: 16px 0 0 0;
}
.box4-text2 p{
    margin: 7px 0 0 0;
}
@media (max-width:768px) { 
    .section1{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
    }
} 
@media (max-width:768px) {
    .section2{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
    
    }   
}